name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Tmds.DBus.SourceGenerator
        path: Tmds.DBus.SourceGenerator/bin/Release/Tmds.DBus.SourceGenerator.*.nupkg
